@import "../../globalSCSS/global.scss";

@font-face {
  font-family: "MaisonNeue-Light";
  src: url("/static/media/MaisonNeue-Light.dab2c256.otf");
}

.QuoteSection {
  background-color: #222222;
  padding: 10% 0;

  h1 {
    margin: 0;
    font-family: "ogg";
    font-size: calculateRem(120px);
    color: white;
    padding-left: 20%;
  }

  h3 {
    color: white;
    src: url(MaisonNeue-Light.otf);
    font-size: 15px;
  }

  .quote-text {
    color: white;
    font-family: "MaisonNeue-Light";
    font-size: 30px;
    font-weight: normal;
    width: 730px;
    text-align: center;
    margin: 0 auto;
    padding: 5% 0;
  }

  p {
    color: white;
    font-family: "Maison Neue";
    font-size: 13px;
  }

  .typebox1 {
    width: 20%;
    display: inline-table;
    height: 112px;
    margin-right: 7%;
  }
  .typebox2 {
    width: 20%;
    display: inline-table;
    height: 112px;
    margin-right: 7%;
  }
  .typebox3 {
    width: 20%;
    display: inline-table;
    height: 112px;
  }

  .typeboxes {
    vertical-align: center;
    margin: 0 auto;
    margin-left: 20%;
    width: 90%;
    // margin-left: calculateRem(210px);
  }

  .quote {
    margin: 0 auto;
  }
}
