.QuoteSection {
  background-color: #222222;
  padding: 110px 0;
}

h1 {
  margin: 0;
  font-family: "ogg";
  font-size: 110px;
  color: white;
  margin-left: 140px;
}

h3 {
  color: white;
  src: url(MaisonNeue-Light.otf);
  font-size: 15px;
}

h2 {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 70px;
  padding-left: 190px;
  color: white;
  font-size: 40px;
  font-family: "Maison Nueue";
  font-weight: 100;
  width: 730px;
  text-align: center;
}

p {
  color: white;
  font-family: "Maison Neue";
  font-size: 13px;
}

.typebox {
  width: 300px;
  display: inline-table;
  height: 112px;
  margin-right: 80px;
}

.typeboxes {
  margin-left: 140px;
  margin-top: 25px;
}

.quote {
  margin-left: 130px;
}
