.HomeGroup {
  background-color: black;
  color: white;
  display: block;

  img {
    width: 40%;
    padding: 5%;
  }

  .captions {
    display: inline;
  }

  h3 {
    padding-top: 45%;
    padding-right: 45px;
    font-family: "MaisonNeue-Bold";
    width: 50%;
    font-size: 15px;
    padding-left: 10%;
  }

  h1 {
    display: none;
  }

  .SectionBlock {
    display: flex;
  }
}
