.RecreationPactAnalysis {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;

  justify-content: center;
  color: white;

  padding: 10% 0;
  .title {
    width: 100%;
    padding-left: 10%;
    font-size: 0.8em;
  }

  .block {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;

    font-size: 1em;
    line-height: 1.7em;

    p {
      width: 36%;
    }
  }

  table {
    width: 80%;
    // border-collapse: collapse;
    border-spacing: 0px 4rem;
    td {
      vertical-align: text-top;
    }

    tr {
      padding-bottom: 10%;
    }
    .tableTitle {
      padding-right: 8%;
    }
  }
}
