.RecreationPactAnalysis {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;

  justify-content: center;
  color: white;

  padding: 10% 0;
  .title {
    width: 100%;
    padding-left: 20%;
    font-size: 0.8em;
  }

  .block {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;

    font-size: 1em;
    line-height: 1.7em;

    h4 {
      //   padding-right: 5%;
    }

    p {
      width: 36%;
    }
  }
}
