.HomeAbout {
  display: flex;
  color: white;
  font-family: "Ogg";
  background-color: black;
  justify-content: center;
  padding: 5% 0;
  p {
    width: 88%;
    font-size: 30px;
  }
  .underlined {
    text-decoration: underline;
  }
  .small {
    font-size: 19px;
  }
}
