.nextCaseStudy {
  background-color: #000000;
  color: white;
  margin-top: -50px;
  padding: 1% 15%;
  padding-bottom: 5%;
  font-family: ogg;

  h1 {
    font-weight: 100;
    font-family: "Ogg";
    font-size: 530%;
    padding: 0;
    margin: 0;
    line-height: 110%;
  }
}

#dark {
  background-color: black;
  padding: 6% 10%;
}
