.Toolbar {
  display: block;
  width: 100vw;
  @media only screen and (max-width: 1000px) {
    /* For mobile phones: */
  }
  .light {
    background-color: #333;
  }

  .dark {
    background-color: #000000;
  }
  ul {
    list-style-type: none;
    height: 100px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .about {
    padding: 0;
  }

  .name {
    padding: 0;
  }

  li {
    display: inline;
    font-size: 11px;
    padding-left: 6%;
    font-family: Neue Haas Unica W01 Regular;
    font-weight: bolder;
    color: #ffffff;
  }

  .updated {
    @media only screen and (max-width: 1000px) {
      /* For mobile phones: */
      padding-right: 20px;
    }
    padding-right: 37%;
  }

  li a {
    color: white;
    text-align: center;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }
}
