ul {
  list-style-type: none;
  height: 100px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  display: flex;
  float: left;
  padding-top: 44px;
  font-size: 11px;
  padding-left: 7%;
  font-family: MaisonNeue-Bold;
  src: url(MaisonNeue-Bold.otf);
  color: #ffffff;

  // .name {
  //   padding-left: 30px;
  // }
  // .about {
  //   padding-left: 590px;
  // }
}

.updated {
  padding-right: 480px;
}
li a {
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
