.Home {
  background-color: black;
  padding: 1% 0;
  h1 {
    color: white;
    font-weight: 100;
    font-size: 5.7em;
    font-family: "Times New Roman", Times, serif;

    width: 30%;
    margin-left: 9%;
    z-index: 101;
  }

  img {
    width: 40%;
    position: absolute;
    top: 13%;
    left: 15%;
  }
}
