.Home {
  background-color: black;
  padding: 3% 0;
  padding-bottom: 20%;
  h1 {
    color: white;
    font-weight: 210;
    font-size: 5.2em;
    position: relative;
    width: 30%;
    margin-left: 14%;
    display: inline-block;
    font-family: "ogg";
  }
  p {
    color: white;
    writing-mode: vertical-rl;
    position: absolute;
    top: 25%;
    right: 6%;
    font-family: "MaisonNeue-Light";
    font-size: 12px;
  }

  .HomeImage {
    // height: 100vh;
    height: 105vh;
    position: absolute;
    z-index: 0;
    right: 0%;
  }

  .logo {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 5%;
    bottom: -20%;
  }
}
