.HomePageItem {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  padding: 6% 11%;
  @media screen and (min-width: 321px) and (max-width: 768px) {
    flex-direction: column;
  }

  img {
    @media screen and (min-width: 321px) and (max-width: 768px) {
      width: 100%;
      height: 425px;
    }
    width: 50%;
  }
  .ContentBlock {
    display: flex;
    justify-content: space-between;
    align-self: center;
    h1 {
      font-family: "Ogg";
      font-size: 2.4em;
      padding: 0 7%;
      align-self: center;
      @media screen and (min-width: 321px) and (max-width: 768px) {
        display: none;
      }
    }

    p {
      font-size: 1.1em;
    }

    h2 {
      font-weight: 100;
      font-family: "Ogg";
      font-size: 2.3em;
      line-height: 1.1em;
    }

    h3 {
      font-weight: 600;
      width: 50%;
      font-size: 1em;
    }
  }

  .captions {
    display: flex;
    justify-content: space-between;
  }

  .viewcasestudy {
    text-decoration: none;
    border: 1px solid white;
    font-weight: 700;
    color: white;
    padding: 4%;
    width: 55%;
    margin-top: 13%;
  }

  .arrow {
    display: inline-block;
    width: 15%;
    padding-left: 10%;
  }
}

a:visited {
  color: black;
}
