@font-face {
  font-family: "MaisonNeue-Light";
  src: url("/static/media/MaisonNeue-Light.dab2c256.otf");
}

.HexComponent {
  background-color: #222222;
  padding: 10% 0;
  color: white;
  font-family: Neue Haas Unica W01 Regular;

  h4 {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    padding-left: 15%;
    padding-bottom: 6%;
  }

  img {
    width: 70%;
    margin: 0 auto;
  }
}
